services:

  immich-server:

    image: ghcr.io/immich-app/immich-server:release

    container_name: #REDACTED

    command: ["start.sh", "immich"]

    env_file:

      - .env

    environment:

      DB_HOSTNAME: #REDACTED

      DB_PORT: #REDACTED

      DB_DATABASE_NAME: ${DB_DATABASE_NAME}

      DB_USERNAME: ${DB_USERNAME}

      DB_PASSWORD: ${DB_PASSWORD}

      REDIS_HOSTNAME: ${REDIS_HOSTNAME}

      TZ: ${TZ}

    volumes:

      - ${UPLOAD_LOCATION}:/usr/src/app/upload
      - #REDACTED ABSOLUTE PATH

    ports:

      - #REDACTED

    depends_on:

      - redis

      - database

    restart: unless-stopped


  immich-microservices:

    image: ghcr.io/immich-app/immich-server:release

    container_name: immich_microservices

    command: ["start.sh", "microservices"]

    env_file:

      - .env

    environment:

      DB_HOSTNAME: #REDACTED

      DB_PORT: #REDACTED

      DB_DATABASE_NAME: ${DB_DATABASE_NAME}

      DB_USERNAME: ${DB_USERNAME}

      DB_PASSWORD: ${DB_PASSWORD}

      REDIS_HOSTNAME: ${REDIS_HOSTNAME}

      TZ: ${TZ}

    volumes:

      - ${UPLOAD_LOCATION}:/usr/src/app/upload
      - #REDACTED ABSOLUTE PATH

    depends_on:

      - redis

      - database

    restart: unless-stopped


  immich-machine-learning:

    image: ghcr.io/immich-app/immich-machine-learning:release

    container_name: immich_machine_learning

    env_file:

      - .env

    environment:

      TZ: ${TZ}

    volumes:

      - #REDACTED

    restart: unless-stopped


  redis:

    image: redis:7-alpine

    container_name: immich_redis

    restart: unless-stopped


  database:

    image: pgvector/pgvector:pg14

    container_name: immich_postgres

    environment:

      POSTGRES_PASSWORD: ${DB_PASSWORD}

      POSTGRES_USER: ${DB_USERNAME}

      POSTGRES_DB: ${DB_DATABASE_NAME}

    volumes:

      - ${DB_DATA_LOCATION}:/var/lib/postgresql/data

    restart: unless-stopped


networks:

  default:

    name: immich_network